---
---
<div class="background-image h-screen flex items-center justify-center left-40">
  <div class="mb-50">
    <h2 class="text-white ">Never forget what you've seen. Save what you want to watch next.</h2>
    <h1 class="text-white text-3xl font-bold ">Start tracking your anime today.</h1>
  </div>
</div>


  
    </p>
    <div class="w-1/5 h-auto bg-blue-500 p-4 rounded absolute right-40 top-40">
      
      <button class="bg-black hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mb-2 w-full">
        Sign up with Apple
      </button>
      <button class="bg-white hover:bg-blue-700 text-black font-bold py-2 px-4 rounded mb-2 w-full">
        Sign up with Google
      </button>
      <button class="bg-blue-800 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mb-2 w-full">
        Sign up with Facebook
      </button>
      <button class="bg-sky-700 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-full">
        Sign up with Twitter
      </button>
      <h2 class="text-center mb-4"></h2>
      <p class="text-center my-4">---or---</p>
      <p class="text-center my-4">
        <a href="/register" >
          Sign up with your email
        </a> 
      </p>
         
      
    </div>
  </div>

<style>
    .background-image {
    background-image: url('/bg.png');
    background-size: cover;
    background-position: center;
}
</style>
```